.timeline-wrapper {
    position: relative;
    padding: 22px 0;
  }
  .timeline-wrapper:last-child:before {
    height: 0;
  }
  .timeline-wrapper:before {
    content: "";
    background: #474559;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
  }
  
  .timeline-yr {
    background: #474559;
    border-radius: 100%;
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
  }
  .timeline-yr span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 75px;
  }
  
  .timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 432px;
    margin-left: 6em;
  }
  .timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }


  .google-map iframe {
    width: 100%;
  }
  

  .contact-form {
    position: relative;
  }
  .contact-form .form-control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;
  }
  .contact-form .form-control:not(textarea) {
    height: 48px;
  }
  .contact-form .form-control:hover, .contact-form .form-control:focus {
    border-color: #6f00ff;
  }
  .contact-form .submit-btn {
    background: #6f00ff;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .contact-form .submit-btn:hover {
    background: #474559;
  }
  
  .contact-info {
    background: #474559;
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
  }
  .contact-info p, .contact-info a {
    color: #f7f3f3;
  }
  